.site-content {
  color: $color-primary;
  padding: 16px;
  position: relative;
  padding-bottom: 100px;

  @media screen and (min-width: 1024px) {
    padding: 30px 30px 100px;
    min-height: 100vh;
    margin-left: 268px;
  }
}

.template-index .site-content {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}
