/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

.site-sidebar {
  width: 238px;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background: $color-primary;
}

.site-content {
  margin: 30px 30px 30px 268px;
}
