/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

.dark-box {
  background: $color-primary;
  color: #fff;
  padding: 30px;
  box-shadow: inset 0 0 0 9px $color-primary,
              inset 0 0 0 10px $color-gray-light;

  hr {
    opacity: 0.8;
  }
}
