.site-nav-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: $color-primary;
  padding: 30px;
  font-size: 110%;
  overflow: auto;
  max-height: 100%;
  -webkit-overflow-scroll: touch;
  flex-direction: column;
  flex-basis: 100%;

  &.visible {
    display: flex;
  }

  @media screen and (min-width: 1024px) {
    position: static;
    display: flex;
    padding: 0;
    font-size: 100%;
    background: none;
    overflow: visible;
  }
}

.site-sidebar {
  position: relative;
  background: $color-primary;
  color: #fff;
  z-index: 2;
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 238px;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 30px 30px 0 30px;
    position: fixed;
    overflow: auto;
  }
}

.site-nav {
  list-style: none;
  margin: 32px 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;

  li {
    margin: 32px 0;
  }

  @media screen and (min-width: 1024px) {
    text-align: left;
  }
}

.site-nav__submenu {
  list-style: none;
  padding: 0;
  text-transform: none;
  transition: max-height 0.2s;
  max-height: 0;
  overflow: hidden;

  li {
    margin: 10px 0;
    position: relative;
  }

  li:first-of-type {
    margin-top: 14px;
  }

  .site-nav--active {
    color: #fff;

    &::before {
      content: '\25C6';
      position: absolute;
      left: -11px;
      font-size: 65%;
      line-height: 2.1;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 0 0 0 14px;
  }
}

.site-nav--initial .site-nav__submenu {
  max-height: 9999px;
}

.template-index .site-sidebar {
  background: none;
}

.template-index .site-nav {
  text-align: left;
}

.social-icons {
  padding: 0;
  margin: auto 0 0 0;
  padding-bottom: 30px;

  a {
    opacity: 0.7;
    transiton: opacity 0.2s;
  }

  a:hover {
    opacity: 1;
  }

  li {
    display: inline-block;
    margin: 0 6px;
  }
}

.sidebar-menu-toggle {
  position: absolute;
  top: 24px;
  left: 16px;
  z-index: 3;

  .icon {
    width: 20px;
    height: 19px;
  }

  @media screen and (min-width: 1024px) {
    display: none;
  }
}
