.cart-link {
  position: absolute;
  right: 16px;
  top: 24px;
  color: #fff;
  text-decoration: none;
  z-index: 3;

  .icon {
    width: 23px;
    height: 29px;
    margin-right: 5px;
    margin-top: -6px;
  }

  @media screen and (min-width: 1024px) {
    color: $color-primary;
    top: 30px;
    right: 30px;
  }
}

.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  background: $color-primary;
  color: #fff;
  transform: translateX(100%);
  transition: 0.3s transform;

  &.cart-open {
    transform: translateX(0);
  }

  @media screen and (min-width: 1024px) {
    left: auto;
    width: 476px;
  }
}
