.home-slide {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: no-repeat center center / cover;
  z-index: 0;

  h2 {
    position: absolute;
    margin: 0;
    bottom: 30px;
    right: 30px;
    left: 30px;
    color: #fff;
    padding: 15px 20px 18px;
    background: $color-primary;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 23px;
      min-width: 362px;
      left: auto;
    }
  }
}

.template-index {
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;

  .site-footer {
    display: none;
  }

  .site-nav-container {
    z-index: 5;
  }

  @media screen and (max-width: 1023px) {
    .site-nav-container {
      display: flex;
      background: none;
      padding-top: 0;
      position: static;
      max-height: 56vh;
      margin-top: 15px;
      margin-left: -10px;
      margin-right: -30px;
      padding-bottom: 0;
    }

    .site-nav {
      margin-top: 0;
    }

    .social-icons {
      padding-top: 30px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .sidebar-menu-toggle {
    display: none;
  }
}
