.product-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;

  @media screen and (min-width: 768px) {
    margin: 0 -15px;
  }
}

.product-grid-item {
  flex-shrink: 0;
  flex-grow: 0;
  width: 50%;
  padding: 0 8px;
  margin-top: 16px;

  @media screen and (min-width: 768px) {
    padding: 0 15px;
    margin-top: 30px;
  }
  
  @media screen and (min-width: 1120px) {
    width: 33.333%;
  }
}

.product-grid-item-info {
  margin-top: 4px;
  text-align: center;

  a {
    text-decoration: none;
    color: $color-primary;
  }
}

.product-grid-item-title,
.product-grid-item-price {
  margin-top: 0;
  margin-bottom: 0;
}

.product-grid-item-title {
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 15px;
  margin-bottom: 7px;
}

.grid-item-img-wrap {
  position: relative;
  padding-bottom: 150%;
  overflow: hidden;
  display: block;

  .grid-item-img {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: stretch;
  }

  img {
    max-width: none;
    min-height: 100%;
    height: 100%;
    width: auto;
  }
}
