<div style="position: fixed; top: 0; right: 0; bottom: 0; width: 476px; background: black; z-index: 4; color: white">
  <table data-cart-view="data-cart-view">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th colspan="2">Qty</th>
        <th>Line Price</th>
      </tr>
    </thead>
    <tbody>
      <tr rv-each-item="cart.items">
        <td>
          <strong rv-text="item.title"></strong>
          <ul rv-hide="item.propertyArray | empty">
            <li rv-each-property="item.propertyArray < properties">
              <small class="text-muted">{property.name}: {property.value}</small>
            </li>
          </ul>
        </td>
        <td rv-html="item.price | money Currency.currentCurrency"></td>
        <td>
          <a href="#" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1">-</a>
          <span rv-text="item.quantity"></span>
          <a href="#" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1">+</a>
        </td>
        <td>
          <a href="#" rv-data-cart-remove="index | plus 1">&times;</a>
        </td>
        <td rv-html="item.line_price | money Currency.currentCurrency"></td>
      </tr>
      <tr rv-show="cart.item_count | lt 1">
        <td colspan="5">You don't have any items in your cart.</td>
      </tr>
    </tbody>
    <tfoot rv-show="cart.item_count | gt 0">
      <tr>
        <td colspan="4" rv-html="cart.total_weight | weight_with_unit"></td>
        <td rv-html="cart.total_price | money Currency.currentCurrency"></td>
      </tr>
    </tfoot>
  </table>

  <img src="loader.gif" width="16" height="11" class="cart-visible-loading"/>
</div>
