.template-page-lookbook {
  background: #000;
  color: #fff;
}

.template-page-lookbook .site-content {
  padding-top: 0;
  padding-bottom: 0;
}

.lookbook-page {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.lookbook-slide {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.lookbook-image {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding: 30px 0;
    position: relative;
    height: 100vh;
  }
}

.lookbook-thumbs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lookbook-thumb {
  height: auto;
  display: block;
  font-size: 0;
  margin: 5px 5px;

  img {
    width: auto;
    height: auto;
    max-height: 80px;
  }
}

.lookbook-image img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.lookbook-caption {
  width: 298px;
  min-width: 298px;
  color: #fff;
  text-align: center;

  h3 {
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
    margin: 0 30px;
  }
}

.lookbook-slide {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: 0.4s opacity;
  pointer-events: none;

  a {
    color: inherit;
    text-decoration: none;
  }

  &.visible.loaded {
    opacity: 1;
    pointer-events: auto;
  }
}

.lookbook-ui {
  position: fixed;
  top: 50%;

  a {
    display: block;
    position: absolute;
    top: -100px;
    right: -20px;
    bottom: -100px;
    left: -20px;
  }

  &.lookbook-next {
    right: 30px;
  }

  &.lookbook-prev {
    transform: scaleX(-1);
  }

  @media screen and (max-width: 767px) {
    &.lookbook-prev {
      left: 5px;
    }
    &.lookbook-next {
      right: 5px;
    }
  }
}
