.product-page {
  @media screen and (min-width: 800px) {
    display: flex;
    flex-direction: row;
  }
}

.product-images {
  display: flex;
  flex-direction: column-reverse;
  flex-shrink: 0;
  flex-grow: 0;
  font-size: 0;
  max-width: 580px;
  margin: 0 auto 40px;

  @media screen and (min-width: 800px) {
    width: 50%;
    max-width: none;
    margin: 0 30px 0 0;
    flex-direction: row;
    margin-left: 0;

    &.gallery {
      width: 60%;
    }
  }
}

.product-images-thumbs {
  text-align: center;

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  ul {
    display: flex;
    margin-top: 18px;
    justify-content: center;

    @media screen and (min-width: 800px) {
      display: block;
      margin-top: 0;
    }
  }

  li {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }

    @media screen and (min-width: 800px) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  img {
    max-height: 90px;
  }

  @media screen and (min-width: 800px) {
    display: block;
    width: 15%;
    max-width: 82px;
    margin-right: 40px;
    flex-shrink: 0;

    img {
      max-height: none;
    }
  }
}

.product-thumb {
  opacity: 0.59;
  transition: 0.2s opacity;
  display: block;
  position: relative;

  &.active,
  &:hover {
    opacity: 1;
  }

  &.active::after {
    content: '';
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    border: 1px solid $color-gray;
  }
}

.product-images-view {
  flex-grow: 1;

  img {
    width: 100%
  }

  cursor: zoom-in;

  &.zoomed {
    cursor: zoom-out;
  }
}

.product-info {
  flex-grow: 1;
}

.product-info-inner {
  h1 {
    @media screen and (min-width: 800px) {
      margin-top: 84px;
    }
  }

  button {
    margin-top: 40px;
  }
}

.swatch {
  margin-top: 30px;
}

.swatch-inner {
  display: flex;
  justify-content: center;
}

.swatch-element {
  padding: 8px 16px;
  border: 1px solid $color-gray-light;
}

.swatch-element input {
  display: none;
}

.swatch-element:nth-of-type(even) {
  border-left: 0;
  border-right: 0;
}

.swatch-element:first-child {
  border-radius: 4px 0 0 4px;
}

.swatch-element:last-of-type {
  border-radius: 0 4px 4px 0;
  border-right: 1px solid $color-gray-light !important;
}

.swatch-element label {
  position: relative;
  color: #4F4F4F;
}

.swatch-element input:checked + label {
  text-decoration: underline;
  color: #000;
}

.swatch-element input:disabled + label {
  text-decoration: line-through;
  cursor: default;
  color: #B5B5B5;
}
